.svg {

  &__widget-aligner {
    overflow: hidden;
  }

  .svg__fallback {
    display: none;
  }

  &.is-svg-fallback {

    .svg__fallback {
      display: block;
    }

    .svg__animation {
      display: none;
    }

  }

  .svg__player {
    position: relative;
  }

  &.is-svg-playing .svg__playpause {
    opacity: 0;
    .icon-video-pause;
  }

  &.is-svg-paused .svg__playpause {
    .icon-video-play;
  }

  &.is-svg-paused.hide-controls .svg__playpause {
    visibility: hidden;
  }

  html:not(.touch) &.is-svg-playing .svg__player:hover .svg__playpause,
  &.is-svg-paused .svg__playpause {
    opacity: 1;
    transition: none;
  }

  .svg__playpause {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    background: transparent;
    transition: opacity 0.4s ease-in-out 0.4s;

    &:before {
      font-size: 3.5em;
    }
  }

}
